@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

.word-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px 35px;
}

.word {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  transition: all 500ms;
  min-width: 240px;
}
.word > p {
  padding: 0;
  margin: 0;
}

.trash {
  color: #ccc;
  transition: all 0.5s;
}
.trash:hover {
  color: rgb(233, 77, 77);
}

.word:hover {
  border-bottom: 1px solid rgb(108, 107, 107);
  cursor: default;
}
